<%= form_for(submission) do |f| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_group_tag(submission.errors[:title]) do %>
       <%= f.label :title %>
       <%= f.text_field :title, class: '', placeholder: "Enter a title" %>
     <% end %>
     <%= form_group_tag(submission.errors[:body]) do %>
       <%= f.label :url %>
       <%= f.text_field :url, rows: 8, class: '', placeholder: "Enter the url" %>
     <% end %>
       <%= f.submit "Save", class: 'medium button small-12 custom-button' %>

   <% end %>
