<table id="submissions-list">
  <h3 class="text-center welcome">A collection of good &amp; bad UI design.</h3>
  <%= will_paginate @submissions %>
   <% if policy(Submission.new).create? %>
    <%= link_to "New Post", new_submission_path, class: 'small button add-link' %>
  <% end %>
  <tbody>
     <% @submissions.each do |submission| %>
       <tr class="post">
         <td>
           <div>
             <span class="title-link"><%= link_to submission.title, submission_path(submission), class: "title" %> <small><i class="hide-for-small-only">Created <%= time_ago_in_words(submission.created_at) %> ago</i></small></span>

             <span class="float-right">
               <%= link_to like_submission_path(submission), method: :put do %>
                 <span class="badge"><i class="fi-like"></i></span>
               <% end %>

               <%= link_to dislike_submission_path(submission), method: :put do %>
                 <span class="badge alert"><i class="fi-dislike"></i></span>
               <% end %>
             </span>
           </div>
           <br>
           <div>
             <span>
               <small><%= link_to submission.url, "(#{submission.url})", target: "_blank", class: "url-links " %></small>
             </span>
             <span class="float-right">
               <%= submission.get_upvotes.size %> points • <%= link_to "#{submission.comments.count} comments", submission, style: "color: #376786;" %>
             </span>
           </div>
         </td>
       </tr>
     <% end %>
   </tbody>
</table>
