<table>
  <br>
  <h3>Submissions list</h3>
  <br>
  <tbody>
     <% @submissions.each do |submission| %>
       <tr class="post">
         <td>
           <%= link_to like_submission_path(submission), method: :put do %>
             <span class="badge"><i class="fi-like"></i></span>
           <% end %>

           <%= link_to dislike_submission_path(submission), method: :put do %>
             <span class="badge alert"><i class="fi-dislike"></i></span>
           <% end %>

           <%= link_to submission.title, submission.url, class: "title" %>
           <small><%= link_to submission.url, "(#{submission.url})", target: "_blank", class: "float-right" %></small>
         </td>
         <tr class="post">
           <td>
             <span><%= submission.get_upvotes.size %> points  <%= link_to "#{submission.comments.count} comments", submission %></span>
             <span class="float-right"><small>Created <%= time_ago_in_words(submission.created_at) %> ago by <i><%= submission.user.email %></i></small></span>
           </td>
         </tr>
       </tr>
     <% end %>
   </tbody>
</table>
